@model IEnumerable<BorrowingApp_Assign1.Models.Request>

<h1>Requests</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Role</th>
            <th>Equipment</th>
            <th>Duration</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.Id</td>
                <td>@request.Name</td>
                <td>@request.Email</td>
                <td>@request.PhoneNumber</td>
                <td>@request.Role</td>
                <td>@request.Equipment</td>
                <td>@request.Duration</td>
                <td>@request.Details</td>
            </tr>
        }
    </tbody>
</table>
