@model IEnumerable<BorrowingApp_Assign1.Models.Request>

<div class="container mt-5">
    <h1 class="text-center mb-4">Requests List</h1>

    <table class="table table-hover table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Role</th>
                <th scope="col">Equipment</th>
                <th scope="col">Duration</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Model)
            {
                <tr>
                    <td>@request.Id</td>
                    <td>@request.Name</td>
                    <td>@request.Email</td>
                    <td>@request.PhoneNumber</td>
                    <td>@request.Role</td>
                    <td>@request.Equipment</td>
                    <td>@request.Duration</td>
                </tr>
            }
        </tbody>
    </table>
</div>
